*{
    box-sizing: border-box;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    /* background: #000; */
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    width: 500px;
    height: 100%;
    /* background: #000; */
}
.hero-content {
    margin-top: 12px;
    max-width: 1000px;
    width: 800px;
    min-width: 400px;
    font-family: poppins;
    text-align: center;
}
.bttn{
    display: flex;
    flex-direction: row;
    gap: 10px;
}